@use 'sass:math';
@use '../tokens';
@use '../mixins';

@include tokens.textStyles;

.page__items {
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

.item {
  & {
    display: flex;
    flex-direction: row;
    border-radius: var(--u24);
    box-shadow: inset 0 0 0 1px var(--edgeColor);
    padding: var(--u16);
    gap: var(--u12);
    text-decoration: none;
  }
  &:hover {
    background-color: var(--segmenterHoverColor);
  }
  &:active {
    background-color: var(--segmenterActiveColor);
  }
  @include mixins.smartPhone {
    flex-direction: column;
  }
}

.item__photo {
  display: grid;
  border-radius: var(--u8);
  overflow: hidden;
  min-width: fit-content;
}

.item__photo img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  @include mixins.smartPhone {
    width: 100%;
    height: auto;
    aspect-ratio: calc(3/2);
  }
}

.item__content {
  display: flex;
  width: 100%;
  @include mixins.smartPhone {
    padding: 0 var(--u8);
  }
}

.item__content__leading, .item__content__trailing {
  display: flex;
  flex-direction: column;
}

.item__content__trailing {
  margin: 0 0 0 auto;
  text-align: right;
}

.item__title {
  font-size: var(--type-1);
}

.item__condition {
  font-size: var(--type--1);
  color: var(--contentSecondaryColor);
}

.item__price--original {
  font-size: var(--type--1);
  color: var(--contentSecondaryColor);
  height: 1lh;
  &:empty {
    visibility: hidden; // preserve for layout but hide from screen readers.
  }
}

.item__price--asking {
  font-size: var(--type-1);
  line-height: 1.5em;
}