@use 'sass:math';
@use '../tokens';
@use '../mixins';

@include tokens.textStyles;

.page__items {
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

.item {
  display: flex;
  flex-direction: row;
  border-radius: var(--u24);
  box-shadow: inset 0 0 0 1px var(--edgeColor);
  padding: var(--u16);
  gap: var(--u12);
  text-decoration: none;
}

.item__photo {
  display: grid;
  border-radius: var(--u8);
  overflow: hidden;
  min-width: fit-content;
}

.item__photo img {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.item__content {
  display: flex;
}

.item__content__leading, .item__content__trailing {
  display: flex;
  flex-direction: column;
}

.item__content__trailing {
  margin: 0 0 0 auto;
  text-align: right;
}

.item__title {
  font-size: var(--type-1);
}

.item__condition {
  font-size: var(--type--1);
  color: var(--contentSecondaryColor);
}

.item__price--original {
  font-size: var(--type--1);
  color: var(--contentSecondaryColor);
}

.item__price--asking {
  font-size: var(--type-1);
  line-height: 1.5em;
}