---
layout: _root.njk
---
{% from "card.njk" import Card with context %}

{% set body %}
Below is a template that you can fill out, and I’ll get back to you asap.

Your Name:

Preferred contact method: (your email address or cell number)

If phone, can you receive text messages: Yes / No

Item name: {{ page.fileSlug }}

Offered price: ${{ askingPrice }}

Pick-up in Austin: Yes / No

Address for delivery:

Desired delivery date:

Other interested items:

{% endset %}

<div class="page page--item">
	<aside class="page--item__photos">
		<ul class="item-photos">
		{% for photo in photos %}
			<li class="item-photo-wrapper">
				<img class="item-photo" alt="Photo {{ loop.index }} of {{ page.fileSlug }}" src="{{ env.imgPath }}/{{ photo }}.webp?width=1024">
			</li>
		{% endfor %}
		</ul>
	</aside>
	<div class="page--item__content-wrapper">
		<div class="page--item__content">
			<header class="item-header">
				<a class="button button--secondary button--square" href="../">&lt;-</a>
				<div class="item-header__text">
					<h1 class="item__title--large">{{ page.fileSlug }}</h1>
					<div class="item__subtitle"><span class="item__availability">Available {{ available | parseAvailableDate }}</span> <span class="item__subtitle__separator">•</span> <span class="item__condition">{{ condition }}</span></div>
					<div class="item__content__prices">{% if originalPrice %}<s class="item__price--original">$&nbsp;{{ originalPrice }}</s>{% endif %} <span class="item__price--asking">$&nbsp;{{ askingPrice }}</span></div>
				</div>
			</header>
			<main class="item-body">
				{{ content | safe }}
				<div class="item-actions">
					<a class="button button--primary" href="mailto:{{ meta.email }}?subject={{ ('Buying item ' ~ page.fileSlug) | urlencode }}&body={{ body | urlencode }}">Email to buy</a>
			</main>
			<aside class="related">
				<h2 class="related__title">Related Items</h2>
				<ul class="related__list">
				{% for item in collections[tags[1]] %}
					{% if (item.fileSlug != page.fileSlug) and (loop.index < 6) %}
						<li class="related-item">
							{{ Card({
								url: item.page.url,
								fileSlug: item.page.fileSlug,
								photo: item.data.photos[0],
								condition: item.data.condition,
								originalPrice: item.data.originalPrice,
								askingPrice: item.data.askingPrice,
								available: item.data.available,
								compact: true
							}) }}
						</li>
					{% endif %}
				{% endfor %}
			</aside>
		</div>
	</div>
</div>
