@mixin placeholders {
  %font--display-regular {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  %font--display-medium {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  %font--display-black {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  %font--text-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  %font--text-regular--italic {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  %font--text-italic {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}
